.withdraw-history-table,
h2 {
  color: white;
}

// components/WithdrawHistory.module.scss

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: var(--primary-color);
  color: var(--light-color);
  text-align: left;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid var(--secondary-color);
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: var(--card-color);
}

tbody tr:hover {
  // background-color: var(--tab-color);
  background-color:  darkgray;
  opacity: 0.8;
  cursor: pointer;
}

tbody td {
  color: var(--text-color);
}


.history_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  // justify-content: center;
  min-height: calc(100vh - 170px);
  width: 94%;
  max-width: 420px;
  min-width: 300px;
  // margin: 0px auto;
  background-color: var(--card-color);
  padding: 20px;
  border-radius: 36px;
  box-shadow: 0 0 8px -4px #14171a1f, 0 4px 16px -1px #14171a14;
  gap: 10px;
  // @media screen and (max-width: 1600px) {
  //   max-width: 1000px;
  // }
  h2 {
    margin: 0 0 12px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  th,
  td {
    font-size: 14px;
    font-weight: 400;
  }
}

.modal-container {
  min-width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  // background: rgba(0, 0, 0, 0.5);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  backdrop-filter: blur(8px);
}

// // Define your modal styles
.modal {
  //   border: 1px solid;width: 94%;
  z-index: 1;
  max-width: 550px;
  min-width: 300px;
  margin: 0px auto;
  background-color: var(--card-color);
  color: var(--light-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 8px -4px #14171a1f, 0 4px 16px -1px #14171a14;
  @media screen and (max-width: 1600px) {
    max-width: 400px;
  }
}

// .modal-test {
//   color: white;
// }

.modal-content-header {
  display: flex;
  // align-items: center;
  justify-content: space-between;
}

.modal-loading {
  text-align: center;
}

.close {
  font-size: x-large;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  h2 {
    margin: 0;
    font-weight: 500;
  }
  .withdraw-flow {
    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      // margin: 0 10px;
      // gap: 8px;
      .withdraw-step {
        display: flex;
        color: gray;
        align-items: center;
        gap: 8px;
        padding: 10px 24px;
        padding-left: 10px;
        font-size: 14px;
        border-radius: 24px;
        border: 1px solid gray;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .done {
        background-color: #14131d;
        color: var(--text-color);
        border: none;
      }
    }
  }
  .vertical-dots {
    display: flex;
    align-items: center;
    // justify-content: center;
    color: gray;
    padding: 6px 16px;
    margin: 0;
    // display: inline;
    // padding-left: 16px;
  }
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   //   background-color: var(--light-color); // Use variable for background color
  //   //   margin: 15% auto;
  //   padding: 20px;
  //   //   border: 1px solid var(--dark-color); // Use variable for border color
  //   width: 100%;
  //   //   color: var(--text-color); // Use variable for text color

  //   //   // Additional styles
  //   //   // You can use other variables as needed
}

.modal-amoumt {
  display: flex;
  flex-direction: column;
  gap: 0px;

  .title {
    font-size: small;
    font-weight: lighter;
    color: gray;
  }
  .text {
    font-size: large;
    font-weight: bold;
  }
}
.modal-btn-container {
  display: flex;
  margin-top: 8px;
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  width: 100%;
  padding: 12px 16px;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  background-color: var(--theme-color);
  color: var(--light-color);
}

.disabled {
  background-color: var(--tab-color);
  cursor: not-allowed;
}

.withdraw-step,
.step-done {
  padding: 16px;
}

.tx_hash {
  color: var(--text-color);
}

.pagination {
  display: flex;
  color: var(--light-color);
  justify-content: center;
  list-style-type: none;
  gap: 8px;
}

.page-number {
  cursor: pointer;
  padding: 0px 4px;
}

.loading {
  color: var(--light-color);
  display: flex;
  justify-content: center;
}

.active {
  color: var(--theme-color);
  cursor: default;
}

.disabled {
  color: gray;
  background-color: transparent;
  cursor: default;
}

@media only screen and (max-width: 600px) {
  table {
    width: 100%;
  }
}
