.app_footer {
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 32px);
  padding: 0px 15px;
  font-weight: 500;
  font-size: 12px;
  color: var(--text-color);
  z-index: 9;
  .footer_text_wrap {
    width: 120px;
    ul {
      padding: 0px;
      list-style: none;
      display: flex;
      align-items: center;
      margin-bottom: 0px;
      li {
        padding-right: 15px;
        a {
          text-decoration: none;
          font-weight: 500;
          font-size: 12px;
          color: var(--text-color);
        }
      }
    }
  }
  .footer_icn_wrap {
    width: 120px;
    ul {
      padding: 0px;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li {
        padding-left: 15px;
        a {
          display: flex;
          color: #3b5998;
          font-size: 20px;
          svg {
            fill: #fff;
          }
        }
        &:nth-child(2) a {
          color: #00acee !important;
        }
        &:nth-child(3) a {
          color: #0a66c2 !important;
        }
        &:nth-child(4) a {
          color: #57f287 !important;
        }
      }
    }
  }
  .page-select-conatainer {
    .footer_btn {
      padding: 8px 10px 8px 20px;
      background-color: rgb(30, 32, 37);
      font-size: 16px;
      border: 0;
      border-radius: 100px;
      color: var(--light-color);
      box-shadow: none;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.05);
      }
      svg {
        width: 16px;
        margin: 0 0 0 8px;
        fill: #a1a1aa;
      }
    }
  }
}

.commit_hash {
  color: #a1a1aa;
}
